.home {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    padding: 1rem 2rem;
}

.pizza-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    max-width: 250px;
    text-align: center;
    background-color: #fff;
    margin: 0 10px;
}

.pizza-img {
    width: 100%;
    height: auto;
    max-height: 150px;
    border-radius: 8px;
}

.pizza-name {
    font-size: 1.2rem;
    margin: 0.5rem 0;
    text-align: left;
    text-transform: capitalize;
}

.separator {
    width: 80%;
    height: 1px;
    background-color: #ddd;
    margin: 0.5rem auto;
}

.pizza-ingredients {
    text-align: left;
}

.pizza-ingredients h4 {
    margin: 0.7rem 0 0.5rem 0;
    font-weight: bold;
}

.pizza-ingredients ul {
    list-style-type: none;
    padding: 0;
}

.pizza-ingredients li {
    display: flex;
    align-items: center;
    margin: 0.3rem 0;
}

.pizza-ingredients li::before {
    content: "🍕";
    margin-right: 0.5rem;
}

.pizza-price {
    font-weight: bold;
    font-size: 1.2rem;
    margin: 0.5rem 0;
}

.pizza-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.btn {
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 0 0.5rem;
}

.btn-ver-mas {
    background-color: #00aced;
}

.btn-ver-mas:hover {
    background-color: #008bb9;
}

.btn-aniadir {
    background-color: #ff6347;
}

.btn-aniadir:hover {
    background-color: #e5533d;
}
