.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #148fd7;
    color: white;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.home-link {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
}

.icon {
    margin-right: 2.5rem;
}

.pizza-home::before {
    content: "🍕";
    margin-right: 0.5rem;
    margin-left: 2.5rem;
}

.cart-home {
    margin-right: 3.5rem;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.cart-link {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
}

.cart-link .icon {
    margin-right: 0.5rem;
}
